.tile{
  border-radius: 2px;
  padding: 0px;
  border-style: solid;
  border-width: 1px;
  background-color: #fcf6e8;
  display: inline-block;
  text-align: center;
  align-items: center;
}
.font-small{
  font-size: 1rem;
  height: 30px;
  line-height: 30px;
  width: 30px;
}
.font-medium{
  font-size: 1.5rem;
  height: 50px;
  line-height: 50px;
  width: 50px;
}
.font-large{
  font-size: 2rem;
  height: 80px;
  line-height: 80px;
  width: 80px;
}
.tile-movable{
  color: black;
  border-color: #999999;
}
.tile-start{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.tile-finish{
  background: linear-gradient(#fa4884, #ffe047);
}
.tile-path{
  background: linear-gradient(#b8f76f, #e6facf);
}